html {
	/* scroll behavior with a timing */
	scroll-behavior: smooth;
}

/* root element */
:root {
	/* specific colors */
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);
	/* specific font families*/
	--font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	/* foreground color text*/
	color: var(--text-color);
	/* font family (letter type) */
	font-family: var(--font-family-base);
}

/* all title elements */
h1, h2, h3, h4, h5, h6 {
	/* font family (letter type)*/
	font-family: var(--font-family-title);
}

/* anchor elements */
a {
	/* color text */
	color: var(--text-color);
}

/* class visually-hidden */
.visually-hidden {
	/* hide the element */
	display: none;
}

/* class card-category */
.card-category {
	/* color text */
	color: var(--color-primary);
}

/* class section-tagline*/
.section-tagline {
	/* color text */
	color: var(--color-primary);
}