html {
	/* scroll behavior with timing */
	scroll-behavior: smooth;
	/* font size (letter size) */
	font-size: 62.5%;
}

/* root element */
:root {
	/* specific colors */
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);
	/* specific font families*/
	--font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* font-size custom properties*/
	--font-size-small: 1.2rem;
	--font-size-medium: 1.6rem;
	--font-size-large: 1.8rem;
	--font-size-x-large: 2.3rem;
	--font-size-xx-large: 4.8rem;
	/* font-weight custom properties */
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}

body {
	/* foreground color text*/
	color: var(--text-color);
	/* font family (letter type) */
	font-family: var(--font-family-base);
	/* font size (letter size) */
	font-size: var(--font-size-medium);
	/* font-weight (boldness letter)*/
	font-weight: var(--font-weight-regular);
}

/* all title elements */
h1, h2, h3, h4, h5, h6 {
	/* font family (letter type)*/
	font-family: var(--font-family-title);
	/* font weight (boldness type)*/
	font-weight: var(--font-weight-bold);
}

/* anchor elements */
a {
	/* text color */
	color: var(--text-color);
}

/* class: visually-hidden */
.visually-hidden {
	/* hide the element */
	display: none;
}

/* class card-category */
.card-category {
	/* text color */
	color: var(--color-primary);
}

/* class section-tagline*/
.section-tagline {
	/* text color */
	color: var(--color-primary);
}